.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  flex-shrink: 0;
  flex-grow: 0;
  background: #015397;
  padding: 3px 5px;
  position: fixed;
  width: inherit;
  margin-top: -8px;
}
.content {
  flex-shrink: 1;
  flex-grow: 1;
  padding: 3px 5px;
  position: relative;
  overflow-y: auto;
}

.footer {
  flex-shrink: 0;
  flex-grow: 0;
  background: #494949;
  padding: 3px 15px;
  margin-top: 530px;
  position: fixed;
  width: inherit;
}
p {
  font-family: Lato;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  /* background-color: #eee; */
  border-radius: 4px;
}

nav a:visited,
a:link {
  color: #e8edf0;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}
.menuItemFirst {
  margin-left: 4px !important;
}

.logo {
  font-size: 20px;
  color: white;
  font-style: italic;
}
input[type="text"] {
  width: 120px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 12px;
  background-color: white;
  background-image: url("../assets/Images/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
  width: 15%;
}
.accountDetails {
  float: right;
  margin-top: -66px;
  margin-right: 38px;
  color: white;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 4px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-bottom: 2%;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #04aa6d;
  color: white;
}
#divCopyrightinfo {
  font-size: 17px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  margin-right: -155px;
}
.spdivider {
  margin-left: 0.5%;
  color: green;
  border-right: 2px solid #04aa6d;
}
