<div class="container">
  <div class="header">
    <nav>
      <span class="logo">Fanatic Books</span>
      <span class="spdivider">|</span>
      <a class="menuItemFirst" routerLink="/about" routerLinkActive="active"
        >Biography</a
      >
      <a routerLink="/Business" routerLinkActive="active">Business</a>
      <a routerLink="/Cookbooks" routerLinkActive="active">Cookbooks</a>
      <a routerLink="/Fiction" routerLinkActive="active">Fiction</a>
      <a routerLink="/HealthFitness" routerLinkActive="active"
        >Health & Fitness</a
      >
      <a routerLink="/History" routerLinkActive="active">History</a>
      <a routerLink="/ReligionInspiration" routerLinkActive="active"
        >Religion & Inspiration</a
      >
      <a routerLink="/SelfImprovement" routerLinkActive="active"
        >Self-Improvement</a
      >
      <input type="text" name="search" placeholder="Search.." />
    </nav>
    <div class="accountDetails">
      <p>Welcome, Jane Do</p>
      <p style="margin-top: -14px">
        Your Account -
        <a style="text-decoration: none; color: white" href="#">Log Out</a>
      </p>
    </div>
  </div>
  <app-subsection> </app-subsection>
  <div class="content">
    <div id="mainContent"></div>
  </div>

  <div class="navbar">
    <a href="#AboutUs">About Us</a>
    <a href="#Corporate">Corporate Information</a>
    <a href="#Careers">Careers</a>
    <a href="#Customer">Customer Service</a>
    <a href="#Sitemap">Sitemap</a>
    <div id="divCopyrightinfo">
      Terms of Use Privacy Policy Copyright © 2021 Fanatic Books. All rights
      reserved.
    </div>
  </div>
</div>
