<ul>
  <span><h3>Fiction</h3></span>
  <li><a href="#home">African American Fiction</a></li>
  <li><a href="#news">Anthologies</a></li>
  <li><a href="#contact">Christian Fiction</a></li>
  <li><a href="#about">Drama</a></li>
  <li><a href="#contact">Christian Fiction</a></li>
  <li><a href="#about">Drama</a></li>
  <li><a href="#contact">Christian Fiction</a></li>
  <li><a href="#about">Drama</a></li>
  <li><a href="#contact">Christian Fiction</a></li>
  <li><a href="#about">Drama</a></li>
  <li><a href="#about">Drama</a></li>
</ul>

<div class="divCardContainer">
  <app-bookdetails></app-bookdetails>
</div>
<router-outlet></router-outlet>
